// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



ion-content, ion-card, button {
  background-color: #34495e !important;
}

.card {
  background-color: #3f5973!important;
}

.item, h4, h2, h3 {
  background-color: #34495e;
  color: #ecf0f1;
}

ion-card-title{
  color: #dbdddf!important;
}

.alert-wrapper{
  background-color: #34495e !important;
}

p {
  color: #bdc3c7!important;
}

.tabbar, show-tabbar{
  background-color: #2c3e50!important;
}

.toolbar-background, toolbar-background-ios{
  background-color: #2c3e50!important;
}

.toolbar-title, toolbar-title-ios{
  color: white!important;
}

.tabs-ios .tab-button-icon, .tab-button{
  color: #e67e22 !important;
}

//Button selectionnés
.tabs-ios, .tab-button:hover:not(.disable-hover), .tabs-ios, .tab-button[aria-selected=true]{
  color: #32db64!important;

}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #32db64 !important;
}

.alert-message, .alert-ios, .alert-checkbox-label{
  color: darkgrey!important;
}


.alert-ios .alert-checkbox-icon{
  border-color: green!important;
}

.alert-ios [aria-checked=true] .alert-checkbox-icon{
  background-color: darkgreen;
}
//.tabs-ios:active .tab-button-icon:active{
//  color: red;
//}


/* Buttons */
.primary-button{
  background-color: #2980b9!important;
}

.orange-button{
  background-color: #e67e22!important;
}

.valid-button{
  background-color: #2ecc71!important;
}


/* SearchBar */

ion-searchbar{
  margin-top: -16px;
  width: 112%;
  margin-left: -16px;
}
